

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: lightgrey;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.team-name {
  padding-left: 10px;
}

h1  {
  color: grey;
 
}

img {
  width: 100%;
}

h2 {
  width: 40%;
  color: lightgrey;
  font-size: 10px;
  background-color: whitesmoke;
}
